/* universal page styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url("../images/rubiks-background.jpg") no-repeat center fixed;
    background-size: cover;
}

/* body styling start */
body {
    color: rgb(236, 230, 220);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    height: 100px;
    width: auto;
    background-color: black;
    text-align: center;
    font-size: xx-large;
}

